<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>

			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>

		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>


	</div>

<% else %>

	<div class="center hero-unit">

		<h1>酷思小魏的第一個網站</h1>

		<h2>Sample App ：這是我的第一個Rails4網站。</h2>

		<%= link_to "Sign up now!" , signup_path ,class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<% end %>